/* ------------------------- Base reset -------------------------------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body, h1, h2, h3, h4, h5, h6, p, ol, li, article, figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

a {
  text-decoration: unset;
}

mark {
  background-color: unset;
  color: unset;
}

ol {
  list-style-type: none;
}

hr {
  border: unset;
  background-color: var(--color-text);
  padding: 1px;
}


/* ------------------------- Fonts -------------------------------------------------- */

:root {
  --font-noto-sans-jp: "Noto Sans JP", sans-serif;
  --font-noto-sans-regular: "Noto Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-barlow-semi-condensed: "Barlow Semi Condensed", sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}


/* ------------------------- Colors -------------------------------------------------- */

:root {

  --color-background-light: #F9F7F4;
  --color-background-dark: #1C1D21;

  --color-text: #1F241F;
  --color-text-grey: #6B6B6B;
  --color-text-light: #FFF;
  --color-text-light-grey: #F7F7F7;
  --color-text-light-80: #FFFFFF80;

  --color-accent: #455CE9;
  --color-accent-dark: #334BD3;
  --color-highlight: #C9FE6E;

  /* --color-border: rgba(28, 29, 32, 0.175);
  --color-border-solid: #D2D2D2;
  --color-border-light: rgba(255, 255, 255, 0.2);
  --color-border-solid-light: #545557; */

  /* --alert-error: #ff4444;
  --alert-success: #24C958; */

  /* --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
  --animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
  --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
  --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1); */

  /* --section-padding: clamp(5em, 21vh, 12em);
  --container-padding: clamp(2.5em, 8vw, 8em);
  --gap-padding: clamp(1.5em, 4vw, 2.5em);  */
  
}

.color-regular {
  color: var(--color-text);
}

.color-grey {
  color: var(--color-text-grey);
}

.color-white {
  color: var(--color-text-light-grey);
}

.light {
  color: white!important;
}

#open-menu-section .light svg {
  color: var(--color-text)!important;
  background-color: var(--color-text-light-grey)!important;
}


/* ------------------------- Body -------------------------------------------------- */

body {
  background-color: var(--color-background-light);

  min-height: 100vh;
}

h1 {
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-regular);

  font-size: 64px;
}

h2 {
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-regular);

  font-size: 40px;
}

h3 {
  font-family: var(--font-noto-sans-regular);
  font-weight: var(--font-weight-bold);
  
  font-size: 20px;
}

h6 {
  font-family: var(--font-barlow-semi-condensed);
  font-weight: var(--font-weight-regular);

  font-size: 14px;
}

p {
  font-family: var(--font-noto-sans-regular);
  font-weight: var(--font-weight-regular);

  font-size: 20px;
}

body.menu-open {
    overflow: hidden;
}

.tag-mark {
  font-family: var(--font-barlow-semi-condensed);
  font-size: 20px;
  color: var(--color-highlight);
  background-color: var(--color-text);
  padding: 5px 10px;
  border-radius: 25px;
}


#copyright {
  position: fixed;
  right: 0;
  bottom: 0;

  margin: 0;

  writing-mode: vertical-rl;

  font-family: var(--font-barlow-semi-condensed);
  font-size: 10px;

  z-index: 15;
}


/* ------------------------- Nav -------------------------------------------------- */

/* #navigation-header {
  padding: 35px 5%;
  width: 100%;
} */

#open-menu-section {
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  padding: 10px;
  z-index: 10;
}

#open-menu-section button {
  display: flex;
  background: unset;
  color: var(--color-text);

  align-items: center;
  gap: 5px;
}

#open-menu-section p {
  font-family: var(--font-barlow-semi-condensed);
}

#open-menu-section svg {
  color: var(--color-text-light-grey);
  background-color: var(--color-background-dark);
}

.icon-round {
  height: 32px;
  width: 32px;
  border-radius: 25px;
}



/* ------------------------- Main Menu -------------------------------------------------- */

#main-menu {
  background-color: var(--color-background-dark);
  position: fixed;
  width: 100%;
  height: 100vh;

  z-index: 10;
}

#main-menu>div {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

#main-menu aside {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#main-menu button {
  /* padding: 5px; */
  background-color: var(--color-background-light);

  line-height: 0;
  border-radius: 25px;
}

#main-menu a {
  font-family: var(--font-montserrat);
  color: var(--color-text-light-80);
}

#main-nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#main-nav a {
  font-size: 45px;
  color: var(--color-text-light-80);
  display: flex;
  column-gap: 20px;
}

#main-nav mark {
  color: red;
}

#main-nav a.selected {
color: var(--color-text-light);
}
#main-nav a.selected mark {
  color: var(--color-highlight);
}

#socials-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 50px;
}

#socials-nav a {
  color: var(--color-text-light-80);
  font-size: 20px;
}


/* ------------------------- Hero -------------------------------------------------- */

#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;

  text-align: center;

  color: var(--color-accent);
}

#hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    color: var(--color-text-grey);
}

#hero-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 10px;

  background-color: var(--color-background-dark);
  border-radius: 25px;

  color: var(--color-text-light-grey);

  padding: 5px 15px;
}

/* ------------------------- About me -------------------------------------------------- */

#about {
  background-color: var(--color-background-dark);
  color: var(--color-text-light-grey);

  padding: 25vh 0;
}

#about div {
  margin: 0 20px; 
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  row-gap: 15px;
}

#about p {
  font-size: 18px;
}

#about mark {
  color: var(--color-highlight);
  font-family: var(--font-barlow-semi-condensed);
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
}


/* ------------------------- My Journey -------------------------------------------------- */

#journey {
  padding: 25vh 0;
}

#journey h2 {
  color: var(--color-accent);
}

#journey>div {
  margin: 0 20px;
  
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.timeline {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

/* TODO: check if grid isn't a better option here. (the titles are now not really centered horizontally (check "NOW - Last Big project.." item)) */
.timeline-item {
  display: flex;
  column-gap: 15px;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.timeline-content p {
  font-family: var(--font-noto-sans-regular);
  font-size: 18px;

  color: var(--color-text-grey);
}

.timeline-item time {
  font-family: var(--font-barlow-semi-condensed);
  font-size: 24px;

  color: var(--color-text);
}

.timeline-content p::before {
  content: ">";
  color: var(--color-accent);
  font-family: var(--font-noto-sans-regular);
  font-weight: var(--font-weight-bold);
  margin-right: 5px;
}

.timeline-item mark {
  font-family: var(--font-barlow-semi-condensed);
  font-weight: var(--font-weight-semibold);
}

/* --------------- Timeline Line [START] --------------- */
/* TODO: check if the line can be generated differently */
.timeline-item > div:first-child {
    position: relative;
}
.timeline-item > div:first-child::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 35px; /* height of the year text */
    bottom: -40px; /* height of the flex gap */
    width: 2px;
    background: var(--color-text-grey);
}
.timeline-item:last-child > div:first-child::after {
    display: none;
}
/* --------------- Timeline Line [END] --------------- */


/* ------------------------- Projects -------------------------------------------------- */

#projects {
  background-color: var(--color-background-dark);
  color: var(--color-text-light-grey);
  padding: 25vh 20px;
  
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.projects-page {
  padding-top: 50px !important;
}

.project-list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

/* Project card */

.project-card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

/* Image */

.project-card img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}

/* Content */

.project-card>a {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.project-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* CHeck if I still want flex-wrap here (puts the tags underneath the project title) */
    flex-wrap: wrap;
    gap: 5px;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 18px;
}

.project-card-content p {
  color: var(--color-text-light-80);
  font-size: 18px;
}

.project-card-tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.project-card-tags mark:nth-child(n + 3) {
  display: none;
}

#project-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#project-pagination button {
  color: var(--color-text-light-grey);
  background-color: inherit;
  width: clamp(1.5em, 8vw, 2.5em);
  height: clamp(1.5em, 8vw, 2.5em);
  border-radius: 5px;

  transition: .15s;

  font-family: var(--font-barlow-semi-condensed);
  font-size: 24px;
  font-weight: var(--font-weight-bold);

  cursor: pointer;
}

#project-pagination button.selected {
  background-color: var(--color-highlight);
  color: var(--color-text);
}

#project-pagination button:hover {
  background-color: var(--color-highlight);
  color: var(--color-text);
}


/* ------------------------- Contact -------------------------------------------------- */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 10vh;
  /* TODO: check if height of footer can be calculated differently */
  height: calc(100vh - 84px);
}

#contact>div {
  margin: 0 20px;

  display: flex;
  flex-direction: column;
  row-gap: 200px;
}

.contact-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-nav a:first-child {
  grid-column: 1 / -1;
}

.contact-nav a{
  text-decoration: none;
  color: inherit;

  font-family: var(--font-barlow-semi-condensed);
  font-size: 24px;

  border: 1px solid var(--color-text);
  padding: 35px 0;

  text-align: center;
}


/* ------------------------- Footer -------------------------------------------------- */

footer {
  background-color: var(--color-background-dark);

  display: flex;
  justify-content: space-between;

  padding: 20px;
}

footer aside {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

footer p {
  font-size: 16px;
  color: var(--color-text-light-grey);
}

footer h6 {
  color: var(--color-text-grey);
}


/* ------------------------- Specific Project Page -------------------------------------------------- */

.project-page {
  display: flex;
  flex-direction: column;
}

/* TODO: Fix header */
.project-page #navigation-header {
  position: relative;
  display: flex;

  /* padding: 35px 5%; */
  padding-bottom: 50px;
  width: 100%;

  background-color: var(--color-background-dark);
}

.project-details-thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
.project-details-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: contain; */
}

.project-details-content {
  position: relative;
}

.project-details-content-inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
  padding: min(200px, 12.5%) 0 180px;

  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.project-details-content-inner p {
  font-size: 18px;
}

.project-tags {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  width: 100%;
  justify-content: center;
}


.project-details-head {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-bottom: 2.5em;
  border-bottom: 1px solid var(--color-text-grey);
}

.project-details-head #project-title {
  font-size: clamp(36px, 10vw, 64px);
  font-weight: var(--font-weight-semibold);
}

.project-details-body {
  width: 100%;
}

.project-details-body figure img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.project-details-body figure {
  margin-top: 2.5em;
}

.project-details-body p {
  margin-top: 2.5em;
}