/* ------------------------- Base reset -------------------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ------------------------- Fonts -------------------------------------------------- */

.noto-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* ------------------------- Colors -------------------------------------------------- */

:root {

    --color-background-light: #F9F7F4;
    --color-background-dark: #1C1D21;

    --color-text: #1F241F;
    --color-text-grey: #6B6B6B;
    --color-text-light: #FFF;

    --color-accent: #455CE9;
    --color-accent-dark: #334BD3;
    --color-highlight: #C9FE6E;

    /* --color-dark: #1C1D20;
    --color-dark-dark: #141517;
    --color-light: #FFFFFF;
    --color-blue: #455CE9;
    --color-blue-dark: #334BD3;
    --color-gray: #999D9E;
    --color-lightgray: #E9EAEB;
    --color-white: #FFFFFF; */
    
    /* --color-border: rgba(28, 29, 32, 0.175);
    --color-border-solid: #D2D2D2;
    --color-border-light: rgba(255, 255, 255, 0.2);
    --color-border-solid-light: #545557; */

    /* --alert-error: #ff4444;
    --alert-success: #24C958; */

    /* --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);

    --section-padding: clamp(5em, 21vh, 12em);
    --container-padding: clamp(2.5em, 8vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em); */
  
}

@media screen and (max-width: 1200px){
    :root { 
        /* --container-padding: 6vw; */
    }
}

@media screen and (max-width: 720px){
    :root { 
        /* --section-padding: 12vh; */
    }
}

@media screen and (max-width: 540px){

    :root { 
        /* --color-border: rgba(28, 29, 32, 0.225);
        --color-border-light: rgba(255, 255, 255, 0.225);
        --container-padding: clamp(1.25em, 4vw, 2.5em);
        --section-padding: max(2.5em, 12vh); */
    }
}


/* ------------------------- Body -------------------------------------------------- */

body {
    background-color: var(--color-background-light);
}

p {
    color: var(--color-text);
    font-family: "Noto Sans", sans-serif;
}


/* ------------------------- Footer -------------------------------------------------- */

footer {
    background-color: var(--color-background-dark);

    display: flex;
    justify-content: space-between;

    padding: 20px;
}

footer aside {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

footer h6 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    color: var(--color-text-grey);

    font-size: 14px;
}

footer p {
    color: var(--color-text-light);
}
