<section id="open-menu-section">
    <nav>
        <button onclick="openMainMenu()">
            <p>Menu</p>
            <!-- TODO: Set "Menu" Icon -->
            <img src="" alt="open menu">
        </button>
    </nav>
</section>

<section id="main-menu" class="dark-section" hidden>
    <aside>
        <button onclick="closeMainMenu()">
            <!-- TODO: Set "Close Menu" Icon -->
            <img src="" alt="close menu">
        </button>
    </aside>
    <div>
        <nav id="main-nav">
            <!-- Use 'data-root-link' so every page knows it should use the root path -->
            <a href="index.html" data-root-link><mark>|</mark>Main</a>
            <a href="about.html" data-root-link><mark>|</mark>Who am I?</a>
            <a href="projects.html" data-root-link data-projects-nav><mark>|</mark>My Projects</a>
            <a href="contact.html" data-root-link><mark>|</mark>Contact</a>
        </nav>
        <nav id="socials-nav">
            <a href="https://x.com/ZerroBolt" target="_blank">X</a>
            <a href="https://www.instagram.com/tychokerkhofs/" target="_blank">Instagram</a>
            <a href="https://github.com/ZerroBolt" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/tycho-k/" target="_blank">Linked-In</a>
        </nav>
    </div>
</section>