<section id="open-menu-section">
    <nav>
        <button onclick="openMainMenu()">
            <p>Menu</p>
            <!-- TODO: Set "Menu" Icon -->
            <img src="" alt="open menu icon">
        </button>
    </nav>
</section>

<section id="main-menu" hidden>
    <aside>
        <button onclick="closeMainMenu()">
            <img src="" alt="close menu icon">
        </button>
    </aside>
    <div>
        <nav id="main-nav">
            <a href="index.html"><mark>|</mark>Main</a>
            <a href="about.html"><mark>|</mark>Who am I?</a>
            <a href="projects.html"><mark>|</mark>My Projects</a>
            <a href="contact.html"><mark>|</mark>Contact</a>
        </nav>
        <nav id="socials-nav">
            <a href="https://x.com/ZerroBolt" target="_blank">X</a>
            <a href="https://www.instagram.com/tychokerkhofs/" target="_blank">Instagram</a>
            <a href="https://github.com/ZerroBolt" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/tycho-k/" target="_blank">Linked-In</a>
        </nav>
    </div>
</section>